/* You can add global styles to this file, and also import other style files */
span.ingredient-finded {
  background: #91ff92;
  padding: 4px;
}
span.ingredient-question {
  background: #fff491;
  padding: 4px;
}
